.gl-alert-danger {
    background-color: white;
}
.gl-alert-danger .gl-alert-icon {
    color: #c91c00;
    display: none;
}
.gl-alert-body {
    line-height: 1.25rem;
    color: white;
}
.gl-alert-title {
    display: none;
}


#u {
     color: black;
         display: block;
    padding-right: 17px;
    overflow-x: hidden;
overflow-y: auto;
background-color: rgba(0,0,0,0.3);
position: fixed;
top: 0;
left: 0;
z-index: 1050;
width: 100%;
height: 100%;
outline: 0;
transition: opacity 0.15s linear;
  display: flex;
align-items: center;
}


#u > :first-child {
margin-left: auto;
margin-right: auto;
margin-top: 0;
margin-bottom: 0;

min-height: calc(100% - 1rem);
max-width: 48rem;
box-sizing: border-box;

     border-width: 0;
     box-shadow: 0 4px 16px rgba(0,0,0,0.24);
     position: relative;
     display: flex;
     flex-direction: column;
     width: 100%;
     pointer-events: auto;
     background-color: #fff;
     background-clip: padding-box;
     border: 1px solid rgba(0,0,0,0.2);
     border-top-width: 1px;
     border-right-width: 1px;
     border-bottom-width: 1px;
     border-left-width: 1px;
     border-radius: 0.3rem;
     outline: 0;
     box-sizing: border-box;
}
#u > :first-child{
     min-height: 80px;
     background-color: #fff;
     position: relative;
     padding: 1rem;
     text-align: left;
     white-space: normal;
     font-size: 0.875rem;
     line-height: 1.25rem;
     padding: 0;
}

#u > :first-child:before{
          padding: 1rem 1rem;
     font-size: 1rem;
font-weight: 600;
line-height: 1.5rem;
      border-bottom: 1px solid #bfbfbf;
     content: "Enter your password to approve"
}

#u > form > :first-child:after{
          padding: 1rem 1rem;
     content: "To approve this pipeline request, please enter your password. This project requires all pipeline executions to be authenticated."
}

#u > :first-child > :first-child {
     display: flex;
     align-items: flex-start;
     justify-content: space-between;
    
}
#u > form > :nth-last-child(1) {
     border-bottom-left-radius: 0.25rem;
border-bottom-right-radius: 0.25rem;
display: flex;
flex-direction: row;
padding: 1rem;
background-color: #fafafa;
flex-wrap: wrap;
align-items: center;
justify-content: flex-end;
border-top: 1px solid #bfbfbf;
}

#u > form button {
     margin-left: 0.5rem;
     cursor: pointer;
     background-color: #108548;
border-color: #217645;
color: #fff;
border-radius: 4px;
font-size: 0.875rem;
font-weight: 400;
padding: 6px 10px;
white-space: nowrap;
font-family: inherit;
     border: 1px solid transparent;
}

#u > form > :nth-child(2) {
     /*! min-height: 80px; */
line-height: 1.5;
background-color: #fff;
position: relative;
padding: 1rem;
text-align: left;
white-space: normal;
font-size: 0.875rem;
line-height: 1.25rem;
}

#u > form > :nth-child(2):before {
font-weight: 600;
     content: "Your password";
}

#u > form > :nth-child(2) > input {
     border-radius: 4px;
     padding: 6px 10px;
     width: 100%;
     border: 1px solid #dbdbdb;
}


